.main-container {
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}

.masthead {
  height: 300px;

  .marketing-text {
    margin: 75px auto 0;
    max-width: 1024px;
    padding-left: 2rem;

    .ui.header {
      color: #fff;
    }
  }
}

.ui.segment {
  box-shadow: none;
  border: none;
}

.footer {
  color: #b6b9be;
  background: #323b48;
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 4rem;

  .link--accent {
    color: #66bc7d;
  }
}
